/*
Nom : Mohamed Talhaoui
Filière : Informatique et IA (S3) | 2024/2025
*/
body {
    font-family: Verdana, sans-serif;
    background-color: white;
    color: black;
    padding: 0;
    margin: 0;
}
.header {
    background-color: #97c05f;
    height: 100px;
}
.header .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.header h1 {
    font-size: 20px;
    color: white;
    text-align: center;
    text-indent: -500px;
    margin: -10px;
}
.horizontal {
    background-color: black;
    text-align: right;
}
.horizontal a {
    color: white;                   
    text-decoration: none;
    margin-right: 10px;
    font-size: 15px;
}
.layout {
    display: flex;
}
.vertical {
    width: 15em;
    height: 25em;
    font-weight: bolder;
    background-color: #326703;
    color: white;
    padding-left: 20px;
    margin: 0;
}
.vertical ul {
    list-style: none;
    padding-left: 10px;
}
.vertical ul li {
    margin-bottom: 10px;
}
.vertical ul li a {
    color: white;
    text-decoration: none;
}
.current{
    color: #326703;
    width: 150px;
    background-color: #c8c935;
    padding: 5px;
    padding-right: 50px;
}
.vertical ul li a:hover{
    display: inline;
    color: #326703;
    background-color: #c8c935;
    padding: 5px;
    padding-right: 50px;
}
.section-principale {
    flex: 1;
    padding: 20px;
}
.titre {
    color: darkgreen;
    font-variant: small-caps;
    border-bottom: 2px solid #ffffa3;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}
.sous-titre {
    color: green;
    font-size: 18px;
    font-weight: bold;
}
.encart-droite {
    width: 250px;
    padding-top: 100px;
}
.encart-droite h3 {
    color: black;
    font-size: 1.2rem;
}
.encart-droite ul {
    list-style: none;
    padding: 0;
}
.encart-droite ul li {
    font-size: 0.9rem;
    margin-bottom: 5px;
}
