/*
Nom : Mohamed Talhaoui
Filière : Informatique et IA (S3) | 2024/2025
*/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 2rem 1rem;
    background: #7051ef;
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

main {
    flex: 1;
    padding: 2rem 1rem;
    text-align: center;
}

.tdm {
    margin-bottom: 3rem;
}

.tdm h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.tdm a:hover + h2{
    color: #7051ef;
}

.exercices-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    max-width: 1000px;
    margin: 0 auto;
}

.exercices-card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    background: #fff;
    border-radius: 8px;
    text-decoration: none;
    color: #7051ef;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.187);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.exercices-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    background: #7051ef;
    color: #fff;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    font-size: 0.9rem;
}

hr.divider {
    border: 0;
    height: 2px;
    background-color: #7051ef;
    margin: 3rem 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}